@import url('https://fonts.googleapis.com/css?family=Montserrat');

.card-content {
    border: 1px solid #38444d !important;
    border-radius: 4px !important;
    width: 400px !important;
    background-color: #151f2a !important;
    padding: 2em !important;
    color: white !important;
    font-family: 'Montserrat',
        sans-serif;
}